<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/register_function.js?after"></script>
    <link href="/static/main_style.css?after" rel="stylesheet">
</head>

<body>
    <div class="back">
        <div class="wrap">
            <div class="inputform_reg">
                <span class="span_id"><b>ID: </b></span><input class="id" type="text" placeholder="Put User ID" />
                <br>
                <br>
                <span class="span_pass"><b>Password: </b></span><input class="password" type="password" placeholder="Put User Password" />
                <br>
                <input class="register" type="submit" value="Register">
            </div>
        </div>
    </div>
</body>

</html>