<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/talk_list_function.js?after"></script>
    <link href="/static/friends_style.css?after" rel="stylesheet">
</head>

<body>
    <div class="back">
        <div class="navbar">
            <div class="margin"></div>
            <div class="nav_friend">
                <img class="image_friend" src="/static/friend.png" />
            </div>
            <div class="margin"></div>
            <div class="nav_talk">
                <img class="image_talk" src="/static/talk_selected.png" />
            </div>
            <div class="margin2"></div>
        </div>

        <div class="wrap">
            <div class="list">
                <div class="friend">
                </div>
            </div>
        </div>
    </div>
</body>

</html>